body{
    color: white;
    background-color: rgb(65, 172, 221);
}
h1{
    color: white;
    background-color: #2235F5;
}
h2{
    color: pink;
    background-color: #751ABB
}
h3{
    color: red;
    background-color: #5322F5
}